.grid-container {
    width: 600px;
    height: 600px;
    margin: auto;
    display: grid;
    grid: repeat(3, auto) / auto-flow;
    margin-bottom: 3em;
}
.game-grid{
    width: 630px;
    height: 650px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,auto); 
    background-color:red;
    border-style:solid;
    border-width: 5px;
    grid-gap: 2px;
    margin-top: 5px;
}


img{
    max-width: 200px;
    max-height: 200px;
    width: 100%;
    height: 100%;
    object-fit: stretch;
}

.row{
    column-gap: auto;
    max-width:800px;
    max-height:200px;
    width: 50%;
    height: 50%;
    margin-bottom:5px;
}
.col{
    padding: 2px;
}


body{
    max-width: 600px;
    margin: auto;
    background-image: radial-gradient(farthest-corner at 700px 700px,
    #f35 0%, yellow 100%),url();
    padding: 10px;
}