#theGrid {
    width: 600px;
    height: 600px;
    margin: auto;
    display: grid;
    grid: repeat(3, auto) / auto-flow;
    margin-bottom: 3em;
}

.gradient {
    background-image: radial-gradient(farthest-corner at 700px 700px, #f35 0%, yellow 100%), url();
}

.lobby-browser {
    border: 2px solid black;
    
    background-color: rgba(255, 255, 255, 0.2);
}

.friends-list {
    border: 2px solid black;
    background-color: rgba(255, 255, 255, 0.2);
}